.cont {
  background-color: rgb(170, 165, 165);
  width: 500px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 100px 160px;
  grid-template-areas: 'A A A . B' 'C C D D D';
  gap: 20px;
  padding: 20px;
  color: white;
  font-weight: bold;
}
.cont div {
  background-color: rgb(68, 68, 68);
  display: grid;
  align-items: center;
}
.A {
  grid-area: A;
}
.B {
  grid-area: B;
}
.C {
  grid-area: C;
}
.D {
  grid-area: D;
  justify-content: flex-end;
  align-items: center;
}
.D div {
  display: grid;
  background-color: rgb(204, 204, 204);
  width: 100px;
  height: 50px;
  align-content: center;
  margin-right: 20px;
}
