form {
  text-align: center;
  width: 500px;
  margin: auto;
}

fieldset {
  background-color: rgb(253, 235, 119);
}

div {
  padding: 10px;
}

.Input-email {
  margin-right: 35px;
}

input {
  margin: 0 20px;
}

legend {
  text-align: left;
}

.container {
  text-align: center;
}

.submit {
  margin: 10px;
}

/* @media only screen and (max-width: 600) {
  .lable {
    color: rgb(239, 31, 31);
  }
  input {
    text-align: center;
  }
  .fieldset2 {
    width: 100%;
  }
} */
