body {
  margin-top: 8px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0px;
  background-color: rgb(248, 117, 117);
}

:root {
  --header-footer: rgb(1, 209, 216);
  --image: rgb(171, 171, 171);
  --article: rgb(236, 103, 103);
  --aside: rgb(0, 130, 136);
}

header {
  display: flex;
  background-color: var(--header-footer);
  justify-content: center;
  align-items: center;
  padding: 15px;
}

section {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  justify-content: space-between;
}

article {
  background-color: var(--article);
  text-align: center;
  width: 60%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

aside {
  background-color: var(--aside);
  display: flex;
  justify-content: center;
  width: 30%;
  height: 550px;

  align-items: center;
}

footer {
  background-color: var(--header-footer);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.img {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 40px;
}

.img div {
  display: flex;
  height: 120px;
  width: calc(96% / 4);
  background: var(--image);
  align-items: center;
  justify-content: center;
}
