table {
  border: 5px gray;
  border-style: outset;
  width: 400px;
  height: 300px;
}

td {
  border: 1px solid;
  text-align: center;
}

.container {
  margin: 50px;
  width: 300px;
  height: 400px;
  background-color: aqua;
}
