.container {
  background-color: #eee;
  display: grid;
  width: 100 vw;
  grid-template-columns: repeat(6, 1fr);
  gap: 2px;
  align-items: center;
}
.container div {
  background-color: rgb(128, 128, 128);
  color: white;
  display: grid;
  align-items: center;
  justify-content: center;
}
.box1 {
  height: 20vh;
}
.box2 {
  height: 30vh;
}
.box3 {
  height: 15vh;
}
.box4 {
  height: 35vh;
}
.box5 {
  height: 50vh;
}
.box6 {
  height: 20vh;
}
